body{
    /* background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");    height: 100vh; */
    background-size: cover;
   background-position: center;
   }
#epccontainer{
    background-image:
     linear-gradient(-116deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), 
    url("../../../img/services/epc\ background.jpg") ;
    background-position: 0px 0px ,0px 0px, 50% 50%;
    background-size: auto ,auto, cover;
    height: 425px;
    margin-top: -30px;
    max-width: 100%;
}
.epctitle{
    text-align: center;
    padding-top: 232px;
     color: white;
}
.epctitle h2{
  line-height: 0px;
  margin: 0px;
  font-size: 4rem;
  letter-spacing: 1px;
  font-family: math;
}

.epchead{
    text-align: center;
    font-size: 30px;
    padding: 10px 20px;
    font-family: revert;
}
.epchead h3{
     font-size: 30px;   
     color: #4e4e4e;
}
.epcpara p{
    padding: 6px 85px;
    text-align: justify;
    font-size: 18px;
     line-height: 25px;
     font-family: math;
     color: #4e4e4e;
}
.epcimg{
    text-align: center;
    margin-top: 20px;
}
.epcimg img{
    max-width: 60%;
    border-radius: 35px;
    filter: drop-shadow(2px 4px 6px black);
}
.csase{
    display: flex;
    margin: 33px;
    padding-left: 120px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 35px;
    background-color: #ffffff;
}
.csase h3{
 font-family: math;
font-size: 35px;
}
.completeservices{
    max-width: 45%;
}
.completeservices p{
  font-size: 15px;
  font-family: 'Open Sans';
}
.points ul{
    list-style: none;
    padding: 0px;
}
.points ul li{
    padding: 4px 0px;
    font-size: 17px;
    font-family: 'Open Sans';
}
.points ul li i{
    padding-right: 5px;
}
.simpleepc{

    max-width: 45%;
    padding-left: 50px;
}
@media screen and (max-width: 991px) {
    #epccontainer {
        margin-top: -90px;
    }
}
@media screen and (max-width: 421px){
   
#epccontainer {
    margin-top: -94px;
} 
}
@media screen and (max-width: 1000px) {
    .epcpara p {
        padding: 6px 40px;
        line-height: 27px;
    }
    .csase {
        flex-direction: column;
        padding-left: 60px;
    }
    .simpleepc {
        max-width: 100%;
        padding-left: 0;
    }
    .completeservices {
        max-width: 100%;
    }
}
@media screen and (max-width: 781px) {
    .epchead h3 {
     line-height: 40px;
    }
    .points ul li {
        line-height: 25px;
    }
}
@media screen and (max-width: 700px) {
    .epcimg img {
        max-width: 70%;
    }
    .csase {
        padding-left: 40px;
    }
}
@media screen and (max-width: 600px) {
    .epcpara p {
        font-size: 16px;
        line-height: 25px;
    }
}
@media screen and (max-width: 500px) {
    .epcimg img {
        max-width: 80%;
        border-radius: 25px;
    }
    .csase {
        padding-left: 30px;
    }
}