
body{
    background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");    height: 100vh;
    background-size: cover;
   background-position: center;
   }
   #omcontainer{
    background-image:
     linear-gradient(-116deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), 
    url("../../../img/services/tahzuka8413.1.png") ;
    background-position: 0px 0px ,0px 0px, 50% 50%;
    background-size: auto ,auto, cover;
    height: 425px;
    margin-top: -30px;
    max-width: 100%;
}
.omcontent{
    color: #e5d9b6;
}
.ommainpart{
    display: flex;
}
.omtitle{
    text-align: center;
    padding-top: 18%;
     color: white;
    padding-left: 0%;
}
.omtitle h2{
  line-height: 0px;
  margin: 0px;
  font-size: 4rem;
  letter-spacing: 1px;
  font-family: 'open sans';
}
.omhead{
    text-align: center;
    padding: 10px;
}
.omhead h3{
     font-size: 40px;   
     font-family: 'lato';
     margin-top: 30px;
}
.ompara {
    margin-top: 140px;
}
.ompara p{
    padding: 6px 85px;
    text-align: justify;
    font-size: 18px;
     line-height: 25px;
     font-family: revert;
     padding-right: 40px ;
}
.omimg{
    text-align: center;
    margin-top: 20px;
}
.omimg img{
    max-width: 65%;
    border-top-right-radius: 35px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0);
        filter: drop-shadow(2px 4px 6px black);
    margin-left: -173px;
}
.oam{
    display: flex;
    margin: 33px;
    padding-left: 120px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 35px;
    background-color: #a1f8a1;
}
.oam h3{
 font-family: math;
font-size: 35px;
}
.completeservices{
    max-width: 45%;
}
.tss p{
  font-size: 15px;
  font-family: 'Open Sans';
}
.points ul{
    list-style: none;
    padding: 0px;
}
.points ul li{
    padding: 4px 0px;
    font-size: 17px;
    font-family: 'Open Sans';
}
.points ul li i{
    padding-right: 5px;
}
.simpleepc{

    max-width: 45%;
    padding-left: 50px;
}.epchead{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: revert;
}
.epchead h3{
     font-size: 30px;   
}
.epcpara p{
    padding: 6px 85px;
    text-align: justify;
    font-size: 18px;
     line-height: 25px;
     font-family: 'open sans';
}
.epcimg{
    text-align: center;
    margin-top: 20px;
}
.epcimg img{
    max-width: 57%;
    border-top-right-radius: 35px;
}
.oam{
    display: flex;
    margin: 33px;
    flex-direction: column;
    padding-left: 120px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 35px;
    background-color: #a1f8a1;
}
.oam h3{
 font-family: math;
font-size: 30px;
}
.tss{
    max-width: 100%;
}
.tss p{
  font-size: 15px;
  font-family: 'Open Sans';
}
.points ul{
    list-style: none;
    padding: 0px;
    line-height: 25px;
}
.points ul li{
    padding: 4px 0px;
    font-size: 17px;
    font-family: 'Open Sans';
}
.points ul li i{
    padding-right: 5px;
}
.osi{
max-width: 45%;
}