body{
    /* background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");    height: 100vh; */
    background-size: cover;
   background-position: center;
   }
#sdcontainer{
    background-image:
     linear-gradient(-116deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), 
    url("../../../img/services/solar-inverters-1531471303-4097980.jpeg") ;
    background-position: 0px 0px ,0px 0px, 50% 50%;
    background-size: auto ,auto, cover;
    height: 425px;
    margin-top: -30px;
    max-width: 100%;
}
.sdtitle{
    text-align: center;
    padding-top: 18%;
     color: white;
    padding-left: 5%;
}
.sdtitle h2{
  line-height: 0px;
    
  margin: 0px;
  font-size: 4rem;
  letter-spacing: 1px;
  font-family: math;
}
.sdimg{
    text-align: center;
    margin-top: 40px;
}
.sdimg img{
    max-width: 53%;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0);
        filter: drop-shadow(2px 4px 6px black);
}
.sdmainpart{
    padding-top: 30px;
}
.sdhead{
    text-align: center;
    color: #e5d9b6;
}
.sdhead h3{
   font-size: 46px;
   margin-top: 35px;
   font-family: math;
   color: #4e4e4e;
}
.sdpara{
    /* background-color: #a1f8a1; */
    padding: 0px 48px;
    text-align: justify;
    line-height: 27px;
    font-family: math;
    color: #4e4e4e;
    font-size: 20px;
}
.sdpara p{
    margin-bottom: 17px;
    color: #4e4e4e;
}

.cducontainer{
    background-color: #ffffff;
     padding: 5px;
    margin: 30px 15px;
    border-radius: 10px;
    padding-bottom: 15px;
}
.cducontainer li{
    font-size: 25px;
    margin-top: 25px;
    font-family: math;
}
.cadwuhead h2{
    font-size: 40px;
    font-family: math;
    line-height: 36px;
  padding-left: 30px;
  margin-bottom: 19px;
}
.firstul ul{
    margin-top: 27px;
    margin-bottom: 10px;
    padding-left: 64px;
    padding-right: 57px;
}
.firstul ul p{
    margin-top: 12px;
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 19px;
    font-family: math;
}
.secondul{
    margin-top: 40px;
}
.seperate{
    padding: 0px 40px;
}
.seperate p{
    margin-top: 15px;
    font-size: 16px;
}
.secondul ul{
    margin-top: 27px;
    margin-bottom: 10px;
    padding-left: 64px;
    padding-right: 57px;
}
.secondul ul p{
    margin-top: 12px;
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 19px;
    font-family: math;
}
.secondul h5{
    font-size: 30px;
    font-family: math;
}

.starter{
    font-weight: 800;
}