body{
    background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");
    height: 100vh;
    background-size: cover;
   background-position: center;
   }
#cutitle{
    background-image:
     linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), 
    url("../../../img/Contact.jpg") ;
    background-position: 0px 0px ,0px 0px, 50% 50%;
    background-size: auto ,auto, cover;
    height: 343px;
    margin-top: -22px;
    max-width: 100%;
}
.titleh1{
    text-align: center;
}
.titleh1 h1{
    padding-top: 150px;
    color: white;
    font-family: 'Open Sans';
    font-size: 80px;
}
.communication{
    margin: auto;
    width: 35%;
}
.adremail{
      display: flex;
      flex-direction: column;
      margin-top: 35px;
}
.address{
      display: flex;
}
.mailph{
    margin-top: 15px;
    display: flex;
}
.add1{
display: flex;
margin-right: 20px;
background-color: #a1f8a1;
padding: 10px;
border-radius: 10px;
}
.add2{
display: flex;
margin-left: 20px;
background-color: #a1f8a1;
padding: 10px;
border-radius: 10px;
}
.nums{
    display: flex;
    background-color: #a1f8a1;
padding: 10px;
border-radius: 10px;
}
.mail{
    background-color: #a1f8a1;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}
