body{
  background: url("../../../img/th\ \(1\).jpeg");
  height: 100vh;
  background-size: cover;
 background-position: center;
 }
#cutitle{
  background-image:
   linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), 
  url("../../../img/wp7156294.jpg") ;
  background-position: 0px 0px ,0px 0px, 50% 50%;
  background-size: auto ,auto, cover;
  height: 343px;
  margin-top: -22px;
  max-width: 100%;
}
.titleh1{
  text-align: center;
}
.titleh1 h1{
  padding-top: 150px;
  color: white;
  font-family: 'Open Sans';
  font-size: 80px;
}
  /* Google Font CDN Link */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins" , sans-serif;
 }
 body{
   min-height: 100vh;
   width: 100%;
   /* background: #c8e8e9; */
   /* display: flex; */
   align-items: center;
   justify-content: center;
 } 
 .container{
   /* width: 85%; */
 
      background-image:
       linear-gradient(292deg, rgba(0, 0, 0, -0.12), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, -0.45), rgba(0, 0, 0, -0.45)), 
          url('../../../img/contactusmain.png');
      background-position: 0px 0px, 0px 0px, 50% 50%;
      background-size: auto, auto, cover;
      padding-bottom: 19px;

   border-radius: 6px;
   padding: 20px 60px 30px 40px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 .container .content{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .container .content .left-side{
  color: #fdffcd;
   width: 25%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 15px;
   position: relative;
 }
 .content .left-side::before{
   content: '';
   position: absolute;
   height: 75%;
   width: 2px;
   right: -15px;
   top: 50%;
   transform: translateY(-50%);
   background: #dddddd;
 }
 .content .left-side .details{
   margin: 14px;
   text-align: center;
 }
 .content .left-side .details i{
   font-size: 30px;
   color: #fdffcd;
   /* font-family: cursive; */
   margin-bottom: 10px;
 }
 .content .left-side .details .topic{
   font-size: 18px;
   font-weight: 500;
   padding-bottom: 5px;
 }
 .content .left-side .details .text-one,
 .content .left-side .details .text-two{
   font-size: 16px;
   color: #fdffcd;
 }
 .container .content .right-side{
   width: 75%;
   margin-left: 75px;
 }
 .content .right-side .topic-text{
   font-size: 23px;
   font-weight: 600;
   color: #3e2093;
 }
 .right-side .input-box{
   height: 50px;
   width: 100%;
   margin: 12px 0;
 }
 .right-side .input-box input,
 .right-side .input-box textarea{
   height: 100%;
   width: 100%;
   border: none;
   outline: none;
   font-size: 16px;
   background: #F0F1F8;
   border-radius: 6px;
   padding: 0 15px;
   resize: none;
 }
 .right-side .message-box{
   min-height: 110px;
 }
 .right-side .input-box textarea{
   padding-top: 6px;
 }
 .right-side .button{
   display: inline-block;
   margin-top: 12px;
 }
 .right-side .button input[type="button"]{
   color: #fff;
   font-size: 18px;
   outline: none;
   border: none;
   padding: 8px 16px;
   border-radius: 6px;
   background: #3e2093;
   cursor: pointer;
   transition: all 0.3s ease;
 }
 .button input[type="button"]:hover{
   background: #5029bc;
 }
 .email a{
          text-decoration: none;
          font-size: 18px;
          color: #fdffcd;
 }
 .email a:hover{
          color: #f9fcb1;
 }
 .container{
  max-width: 1775px;
  display: none;
  margin: 30px;
}
 .maps{
  background-image:
       linear-gradient(292deg, rgba(0, 0, 0, -0.12), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, -0.45), rgba(0, 0, 0, -0.45)), 
          url('../../../img/travel-concept-with-map-background.jpg');
      background-position: 0px 0px, 0px 0px, 50% 50%;
      background-size: auto, auto, cover;
      padding-bottom: 19px;
      margin: 30px;
      border-radius: 10px;
      filter: drop-shadow(2px 4px 6px black);
      display: none;
 }
 .map12{
display: flex;
  justify-content: center;
 }
 .maps h2{
  text-align: center;
  padding-top: 25px;
  font-size: 40px;       
  font-family: 'Lato';
  color: #5a5959;
 }
 .map1,
 .map2{
  padding: 30px;
  filter: drop-shadow(2px 4px 6px black);
 }
 @media (max-width :1200px) {
        .map1 iframe,
 .map2 iframe{
           width: 800px;
 }
 }
 @media (max-width :920px) {
        .map1 iframe,
 .map2 iframe{
           width: 700px;
 }
 }
 @media (max-width :820px) {
        .map1 iframe,
 .map2 iframe{
           width: 600px;
 }
 }
 @media (max-width :720px) {
        .map1 iframe,
 .map2 iframe{
           width: 500px;
 }
 }
 @media (max-width :1200px) {
        .map12{
          display: flex;
          flex-direction: column;
        }
        .map1,
 .map2{
text-align: center;
 }
 }
 @media (max-width :630px) {
        .map1 iframe,
        .map2 iframe{
          width: 400px;
          height: 290px;
 }
 .maps h2{
            font-size: 30px;
            color:#2d2c2c ;
 }
 }
 @media (max-width :520px) {
        .map1 iframe,
        .map2 iframe{
          width: 360px;
          height: 260px;
 }
 .maps h2{
            font-size: 28px;
 }
 }
 @media (max-width :480px) {
        .map1 iframe,
        .map2 iframe{
          width: 320px;
          height: 220px;
 }
 .maps h2{
            font-size: 26px;
            margin-bottom: -10px;
 }
 }
 @media (max-width :400px) {
        .map1 iframe,
        .map2 iframe{
          width: 300px;
          height: 200px;
 }
 
 }
 @media (max-width :440px) {
        .map1 ,
        .map2 {
          padding: 0px;
          padding-top: 10px;
 }
 .maps h2{
            font-size: 25px;
            margin-bottom: -5px;
            color: #0a0a0a;
 }
 }

 @media (max-width: 1100px) {
  .container .content{
     flex-direction: column-reverse;
   }
   .container{
    /* margin: 40px 0; */
    width: 94%;
    height: 100%;
    margin: 30px;
  }

 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
 }
 @media (max-width: 950px) {
   .container{ 
     width: 100%;
     padding: 30px 40px 40px 35px ;
     margin: 0;
     border-radius: 0;
   }
   .container .content .right-side{
    width: 75%;
 }
 }
 @media (max-width: 950px) {
   .container{
     margin: 0px 0;
     height: 100%;
   }

  .container .content .left-side{
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before{
    display: none;
  }
  .container .content .right-side{
    width: 100%;
    margin-left: 0;
  }
 }
 .nande {
         display: flex;
         margin-bottom: 10px;
     }
    
     .sar{
      /* display: flex; */
      margin-top: 10px;
      margin-bottom: 10px;
     }
    #contacus .sar input{
      border: 2px solid #b3adad;
      border-radius: 25px;
      font-size: 17px;
      text-align: center;
      width: 120px;
      padding: 6px ; 
      padding-left: 12px;
    }
     #contacus .nande input{
         border: 2px solid #b3adad;
         border-radius: 25px;
         font-size: 17px;
         text-align: center;
         width: 264px;
         padding: 6px ; 
         padding-left: 12px;
     }
     
 
     #contacus .sar input:hover {
         border: 2px solid #77bf58;
 
     }
     #contacus .nande input:hover {
         border: 2px solid #77bf58;
 
     }
 
     #contacus select:hover {
         border: 2px solid #77bf58;
     }
     .fileoptin{
      display: inline-block;
      margin-top: -3px;
      padding-left: 10px;
}
.fileoptin input{
      cursor: pointer;
      color: white;
      font-size: 17px;
}
     .nande select{
      width: 264px;
            padding: 6px ;
             padding-left: 12px;
}
     #contacus select {
         border: 2px solid #b3adad;
         font-size: 17px;
         border-radius: 25px;
     }
 
     #contacus label {
         color: #ebf4e8;
         margin-bottom: 0px;
         font-size: 15px;
         padding-left: 15px;
         padding-bottom: 3px;
     }
 
     #contacus textarea {
         border: 2px solid #b3adad;
 
         border-radius: 10px;
     }
 
     #contacus {
         background-image:
             linear-gradient(180deg, rgba(0, 0, 0, -0.12), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
             url(/asset/img/cumainbg.png);
         background-position: 0px 0px, 0px 0px, 50% 50%;
         background-size: auto, auto, cover;
         padding-bottom: 19px;
     } 
     .right-side h2{
      line-height: 36px;
padding-top: 20px;
padding-left: 70px;
color: #77bf58;
padding-bottom: 21px;
font-family: system-ui;
font-size: 2.2rem;}
/* head media */


     @media screen and (max-width: 991px) {
      #cutitle{
       margin-top: -106px;
      }
   }
   @media screen and (max-width: 420px){
#cutitle {
  margin-top: -113px;
}
}
     @media screen and (max-width: 700px) {
       .images a img {
         width: 285px;
         height: 285px;
       }
   }
     @media screen and (max-width: 560px) {
       #cutitle{
                height: 320px;
       }
       .titleh1 h1 {
         font-size: 70px;
       }
   }
     @media screen and (max-width: 480px) {
       #cutitle{
                height: 300px;
       }
       .titleh1 h1 {
         font-size: 60px;
       }
   }
     @media screen and (max-width: 400px) {
       #cutitle{
                height: 265px;
       }
       .titleh1 h1 {
         font-size: 53px;
         padding-top: 130px;
       }
   }
     @media screen and (max-width: 360px) {
       #cutitle{
                height: 260px;
       }
       .titleh1 h1 {
         font-size: 47px;
       padding-top: 127px;
       }
   }
   
#contct{
  margin: auto;
  width: 565px;
} 
   /* form media */
 
   @media screen and (max-width: 779px) {
    #contacus label{
         padding-left: 0px;
    }
    .nande .city{
      margin-right: 0px;
    }
   .nande .number {
      margin-right: 0px;
    }
    .nande {
      margin-right: 0px;
    }
    .nande .snf{
      margin-right: 0px;
    }
    .nande .smaeb{
      margin-right: 0px;
    } 
   
    #contct{
          text-align: center;
   }
   .nande{
    flex-direction: column;
   }
   .right-side h2{
    padding-left: 35px;
   }
   .fileoptin input{
         margin: auto;
         width: 71%;
   }
   .fileoptin{
    padding-left: 0px;
}
        #contct{
            margin: auto;
            width: none;
        }
}
@media screen and (max-width: 719px) {
  #contct{
    margin: auto;
    width: 269px;
  } 
  .fileoptin input{
    width: 89%;
}
 }
@media screen and (max-width: 590px) {
  .right-side h2{
    padding-left: 25px;
    font-size: 1.9rem;
   }
 }
@media screen and (max-width: 425px) {
 
 }


.name{
  margin-right: 30px;
   margin-bottom: 10px;
}
.mail{
  margin-right: 30px;
   margin-bottom: 10px;
}

.number{
  margin-right: 30px;
   margin-bottom: 10px;
}
.city{
  margin-right: 30px;
   margin-bottom: 10px;
}

.snf{
  margin-right: 30px;
   margin-bottom: 10px;
}

.smaeb{
  margin-right: 30px;
   margin-bottom: 10px;
}
@media (max-width: 389px) {
  #contacus .sar input {
    border-radius: 15px;
    font-size: 15px;
    width: 100px;
    padding: 6px;
    padding-left: 6px;
}
.nande select{
  width: 225px;
}
#contacus .nande input{
width: 225px;
font-size: 15px;
}
#contacus label {
font-size: 14px;
}
.fileoptin input {
width: 82%;
}
}