*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background: url("../../../img/");   */
    
      /* height: 100vh; */
      background-size: cover;
     background-position: center;
     background-color: #cacaca;
     }


#cptitle {
    background-image:
        linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../../../img/aboutus/cp.jpg');
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    height: 343px;
    margin-top: -40px;
    max-width: 100%;
}

.titleh1 {
    text-align: center;
}

.titleh1 h1 {
    padding-top: 160px;
    color: white;
    font-family: math;
    font-size: 70px;
}


.aboutids p{
    padding: 40px;
    font-size: 1.3rem;
    line-height: 30px;
    text-align: justify;
    font-family: math;
    color: #4e4e4e;
}

.matters{
    padding: 30px;
    margin-top: -30px;
    color: #4e4e4e;
}
.matter1 {
   display: flex;

}




.matter1 p{
    padding: 0px 30px 30px 30px;
    line-height: 25px;
    text-align: justify;
    font-family: math;
    word-spacing: 3px;
    font-size: 1rem;

}

.content1{
    display: flex;
    flex-direction: column;
}
.serve{
    margin-top: -35px;
}
.serve p{
    line-height: 25px;
    text-align: justify;
    font-family: math;
    word-spacing: 3px;
    font-size: 1rem;
}
.delvir{
margin-top: -25px;
}


.matter2{
    margin-top: 45px;
    display: flex;
}
.content2{
    padding: 115px 30px 30px 30px;
    line-height: 25px;
    text-align: justify;
    font-family: math;
    word-spacing: 3px;
    font-size: 1rem;

}

.matter3{
    display: flex;
    margin-top: 50px;
}
.content3{
    padding: 90px 30px 30px 30px;
    line-height: 25px;
    text-align: justify;
    font-family: math;
    word-spacing: 3px;
    font-size: 1rem;

}


.aboutmd{
    margin-top: 50px;
}
.aboutmd h2{
    text-align: center;
    font-size: 3rem;
    font-family: fantasy;
    letter-spacing: 4px;
}
.mdcontent{
    display: flex;
}
.content4{
    padding: 46px 92px 30px 30px;
    line-height: 25px;
    text-align: justify;
    font-family: math;
    word-spacing: 3px;
    font-size: 1rem;

}
/* medias */

@media screen and (max-width: 991px) {
    #cptitle {
        margin-top: -90px;
    }
} 
@media screen and (max-width: 650px) {
    .titleh1 h1 {
        padding-top: 149px;
        font-size: 63px;
    }
    #cptitle {
        height: 310px;
    }
} 
@media screen and (max-width: 559px) {
    .titleh1 h1 {
        padding-top: 139px;
        font-size: 58px;
    }
    #cptitle {
        height: 300px;
    }
} 
@media screen and (max-width: 489px) {
    .titleh1 h1 {
        padding-top: 120px;
        font-size: 50px;
    }
    #cptitle {
        height: 260px;
    }
} 
@media screen and (max-width: 430px) {
    .titleh1 h1 {
        padding-top: 108px;
        font-size: 45px;
    }
    #cptitle {
        height: 242px;
    }
} 
@media screen and (max-width: 390px) {
    .titleh1 h1 {
        padding-top: 105px;
        font-size: 40px;
    }
    #cptitle {
        height: 226px;
    }
} 


/* @media screen and (max-width: 1880px) {
    .vshead h2{
        font-size: 71px;
    }

} 
@media screen and (max-width: 1280px) {
    .vshead h2{
        font-size: 71px;
    }    
    .vshead{
        padding-left: 118% ;
    }

} 
@media screen and (max-width: 1215px) {
    .vshead h2{
        font-size: 71px;
    }
    #cpcontainer{
        height: 525px;
    }

} 
@media screen and (max-width: 1133px) {
    .vshead h2{
        font-size: 71px;
    }
    #cpcontainer{
        height: 488px;
    }
    .vshead{
        padding-left: 112% ;
    }

} 
@media screen and (max-width: 1100px) {
    .vshead h2{
        font-size: 71px;
    }
    #cpcontainer{
        height: 475px;
    }
    .vshead{
        padding-left: 110% ;
    }

} 
@media screen and (max-width: 1099px) {
    .vshead h2{
        font-size: 71px;
    }
    #cpcontainer{
        height: 420px;
    }
    .vshead{
        padding-left: 106% ;
    }
    .vshead h2{
        font-size: 71px;
    }

} 
@media screen and (max-width: 1000px) {
  
    #cpcontainer{
        height: 372px;
    }
    .vshead{
        padding-top: 45% ;
    }
    .vshead h2{
        font-size: 71px;
    }

} 
@media screen and (max-width: 950px) {
    #cpcontainer{
        height: 340px;
    }
    .vshead{
        padding-top: 41% ;
        padding-left: 105% ;
    }
    .vshead h2{
        font-size: 69px;
    }

} 
@media screen and (max-width: 937px) {
    .vshead{
        padding-left: 101%;
    }
} 
@media screen and (max-width: 889px) {
    .vshead h2{
        font-size: 70px;
    }
    #cpcontainer{
        height: 315px;
    }
} 
@media screen and (max-width: 853px) {
    .vshead h2{
        font-size: 60px;
    }
    #cpcontainer{
        height: 310px;
    }
    .vshead{
        padding-left: 103%;
    }
} 
@media screen and (max-width: 830px) {
   
    #cpcontainer{
        height: 300px;
    }
} 
@media screen and (max-width: 750px) {
    .vshead{
        padding-left: 100%;
         padding-top: 46%;
    }
} 
@media screen and (max-width: 722px) {
    .vshead{
        padding-left: 98%;
         padding-top: 50%;
    }
} */