body{
    background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");
    height: 100vh;
    background-size: cover;
   background-position: center;
   }

   #eemtitle {
    background-image:
        linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../../../img/aboutus/Vision\ &\ Strategy.jpg');
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    height: 343px;
    margin-top: -40px;
    max-width: 100%;
}

.titleh1 {
    text-align: center;
}

.titleh1 h1 {
    padding-top: 160px;
    color: white;
    font-family: 'Open Sans';
    font-size: 70px;
}

.vshead h2{
    margin: 15px 0px ;
    font-size: 4.2rem;
    font-family: 'lato';
    width: 110%;
}

.vision{
    margin-top: 25px;
    padding-left: 25px;
    padding-top: 20px;
}
.vision h3{
   padding-left: 30px;
   font-size: 40px;
   margin-bottom: 0px;
   font-family: revert;
}

.mission{
    margin-top: 25px;
    padding-left: 25px;
}
.mission h3{
    padding-left: 30px;
    font-size: 40px;
    margin-bottom: 0px;
    font-family: revert;
 }

.ov{
    margin-top: 25px;
    padding-left: 25px;
}
.ov h3{
    padding-left: 30px;
    font-size: 40px;
  font-family: revert; 
     margin-bottom: 0px;
 }
.pops{
     margin-top: 25px;
     padding-left: 25px;
}
.pops h3{
     margin-bottom: 0px;
    padding-left: 40px;
    font-family: revert;
}

 .pops p {
        font-size: 19px;
        padding-left: 37px;
        padding-right: 90px;
        font-family: 'open sans';  
        margin-bottom: 16px;
        padding-bottom: 20px;
        line-height: 24px;
        text-align: justify;
    }
 li{
    font-size: 20px;
    font-family: 'open sans';  
    padding: 6px 0px ;
 }
 .paras{
    padding-top: 15px;   
 }
 .tester{
    padding-top: 15px;
    animation-duration: 4s;
    animation-name: sliden;
 }
/* @keyframes sliden {
    from{
        margin-left: 70%;
    }
    to{
        margin-left: 0%;
    }
}  */

#VANDS{
    background-color: #a9ffa9;
    margin: 16px;
    border-radius: 20px;
}