body{
    /* background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");    height: 100vh; */
    background-size: cover;
   background-position: center;
   }
/* .wrappernav{
    background-color: black;
} */


#offgstitle {
    background-image:
        linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../../../img/products/offgrid.jpg');
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    height: 343px;
    margin-top: -40px;
    max-width: 100%;
}

.titleh1 {
    text-align: center;
}

.titleh1 h1 {
    padding-top: 160px;
    color: white;
    font-family:math;
    font-size: 70px;
}

.offgshead h1{
    font-size: 45px;
    color: #e5d9b6;
    line-height: 60px;
    margin-top: 100px;
}
.offgshead{
    text-align: center;
}
.offgsimg{
    text-align: center;
    margin-top: 20px ;
}
.offgsimg img{
    box-shadow: 0px 0px 15px 0px rgb(0 0 0);
        filter: drop-shadow(2px 4px 6px black);
    max-width: 85%;
    border-radius: 5px;
    border-top-right-radius: 30px;
}



.head{
    text-align: center;
    color: #4e4e4e;
    font-family: math;
}
.offg.head{
    font-size: 49px;
   
    margin-top: 48px;
}
.offg{
    margin-top: 43px;
}
.paras3 p{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 25px;
    font-size: 20px;
}
.paras3{
    padding-top: 28px;
    padding-left: 330px;
    padding-right: 55px;
    font-family: 'Open Sans';
}
.offgsmatter{
    background-color: #ffffff;
    display: flex;
    padding: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.inverter img{
    max-width: 382%;
    border-radius: 30px;
    filter: drop-shadow(2px 4px 6px black);
}

@media screen and (max-width: 991px) {
    #offgstitle {
        margin-top: -106px;
    }
}
@media screen and (max-width: 9421px) {
    #offgstitle {
        margin-top: -114px;
    }
}
/* body media */
@media screen and (max-width: 1199px) {
    .offgsmatter {
       flex-direction: column;
    }
    .inverter{
        text-align: center;
    }
    .inverter img{
        width: 40%;
    }
    .paras3 {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
    }
    .paras3 p {
        font-size: 18px;
    }
}
@media screen and (max-width: 799px) {
    .inverter img{
        width: 50%;
    }
}
@media screen and (max-width: 640px) {
    .inverter img{
        width: 57%;
    }
    .paras3 p {
        font-size: 16px;
    }
}
@media screen and (max-width: 450px) {
#offgstitle {
   
    height: 285px;
}
.titleh1 h1 {
    padding-top: 140px;
    font-size: 63px;
}
}
@media screen and (max-width: 499px) {
    .inverter img{
        width: 65%;
        border-radius: 20px;
    }
}