body{
    /* background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");    height: 100vh; */
    background-size: cover;
   background-position: center;
   }

   

   #offgstitle {
    background-image:
        linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../../../img/products/Solar_Fencing_2.jpg');
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    height: 343px;
    margin-top: -40px;
    max-width: 100%;
}

.titleh1 {
    text-align: center;
}

.titleh1 h1 {
    padding-top: 160px;
    color: white;
    font-family: math;
    font-size: 70px;
}

.sf{
    margin-top: 100px;
}
.sfh1 h1{
    text-align: center;
    font-size: 46px;
    color: #e5d9b6;
    font-family: revert;
    margin-bottom: 30px;
}
.wimsf{
    padding-left: 63px;
    color: #e5d9b6;
    padding-top: 6px;
    padding-right: 76px;
    font-family: 'Lato';
}
.wimsf p{
    margin-top: -2px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 25px;
    text-align: justify; 
}
.qus h3{
    text-align: justify;
}
.sfimg{
    text-align: center;
}
.sfimg img{
    max-width: 90%;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0);
        filter: drop-shadow(2px 4px 6px black);
    border-top-right-radius: 35px;
}
.meterbox{
    text-align: center;
}
.meterbox img{
    max-width: 60%;
    border-top-right-radius: 30px;
}
.sfcontent h4{
    font-size: 33px;
    margin-bottom: 10px;
    font-family: math;
}
.sfcontent{
    margin-top: 40px;
}
.matter{
    padding: 18px 50px;
    background-color: #ffffff;
    margin: 28px;
    border-radius: 10px;

}
.matter p{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: justify;
    line-height: 33px;
}
.pics{
    display: flex;
    padding: 40px;
    padding-top: 20px
}
.pics .solarbox{
    max-width: 50%;
    padding-right: 20px;
    border-radius: 10px;
}
.pics .fence{
    max-width: 100%;
   padding-left: 20px;
   border-radius: 10px;
}
  
.pics .solarbox img{
    box-shadow: 0px 0px 15px 0px rgb(0 0 0);
        filter: drop-shadow(2px 4px 6px black);
    border-radius: 10px;
}
.pics .fence img{
    box-shadow: 0px 0px 15px 0px rgb(0 0 0);
        filter: drop-shadow(2px 4px 6px black);
   border-radius: 10px;
}
.points{
    background-color: #ffffff;
    margin: 25px;
    padding: 45px;
    padding-top: 15px;
    line-height: 40px;
    border-radius: 20px;
    padding-bottom: 15px;
}
.points h5{
    font-family: math;
    font-size: 25px;
}
.points p{
    margin-top: -10px;
    margin-bottom: 16px;
    font-size: 18px;
    
}
.bsf h2{
    text-align: center;
    font-size: 45px;
    margin-bottom: 25px;
    font-family: math;
}