body{
    /* background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");    height: 100vh; */
    background-size: cover;
   background-position: center;
   }
/* .wrappernav{
    background-color: black;
} */
#offgstitle {
    background-image:
        linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../../../img/products/streetllightmain.png');
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    height: 343px;
    margin-top: -40px;
    max-width: 100%;
}

.titleh1 {
    text-align: center;
}

.titleh1 h1 {
    padding-top: 160px;
    color: white;
    font-family:math;
    font-size: 70px;
}

.ssl{
    margin-top: 75px;
}
.sslh1 h1{
    text-align: center;
    font-size: 46px;
    color: #e5d9b6;
    font-family: revert;
}
.sslmainimg{
       text-align: center;
       margin-top: 20px;
}
.sslmainimg img{
       width: 81%;
       border-top-right-radius: 80px;
       box-shadow: 0px 0px 15px 0px rgb(0 0 0);
        filter: drop-shadow(2px 4px 6px black);
}
.matter h4{
    font-size: 23px;
    line-height: 27px;
    margin-top: 10px;
    font-family: math;

}
.matter{
   
    margin-top: 40px;
    margin-left: 35px;
    font-family: 'Open Sans';
    text-align: justify;
}
.matter p{
    font-size: 18px;
    line-height: 28px;
}
.cslsl{
    margin-top: -10px;
    display: flex;
    background-color: #ffffff;
    padding: 28px;
    margin: 30px 45px;
    border-radius: 20px;
    margin-left: 26px;
}
.cslsl img{
   max-width: 70%;
   border-radius: 30px;
   filter: drop-shadow(2px 4px 6px black);
}
.seperate{
    background-color: #ffffff;
    margin: 0px 47px;
    padding: 20px;
    margin-left: 25px;
    border-radius: 20px;

}
.cslsl ul li{
    font-size: 20px;
    line-height: 29px;
}
.bos{
    background-color: #ffffff;
    margin: 0px 60px;
    font-family: 'Open Sans';
    margin-bottom: 30px;
    padding: 30px;
    border-radius:  30px;    
}
.bosh2 h2{
    font-size: 35px;
    font-family: math;
    text-align: center;
    margin-bottom: 22px;
}

.points ul li{
    font-size: 25px;
    line-height: 45px;
    text-align: justify;
}
.bnfimg{
    text-align: center;
}
.bnfimg img{
    width: 85%;
    border-radius: 30px;
    filter: drop-shadow(2px 4px 6px black);

}