body{
    /* background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");    height: 100vh; */
    background-size: cover;
   background-position: center;
   }

   #offgstitle {
    background-image:
        linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../../../img/products/solarheatermain.jpg');
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    height: 343px;
    margin-top: -40px;
    max-width: 100%;
}

.titleh1 {
    text-align: center;
}

.titleh1 h1 {
    padding-top: 160px;
    color: white;
    font-family: math;
    font-size: 70px;
}

/* .wrappernav{
    background-color: black;
} */
.swh{
    margin-top: 100px;
}
.swhh1 h1{
    text-align: center;
    color: #e5d9b6;
    font-size: 46px;
    font-family: revert;
}
.swhimg {
    text-align: center;
    margin-top: 30px;
}
.swhimg img{
    width: 80%;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0);
        filter: drop-shadow(2px 4px 6px black);
}
.bcoswh{
    text-align: center;
}
.bcoswh h2{
    font-size: 36px;
    color: #4e4e4e;
    font-family: math;
    line-height: 44px;
    margin-top: -62px;
}
.paras{
    max-width: 52%;
    padding: 5px;
    font-size: 18px;
    text-align: justify;
    font-family: 'Open Sans';
    padding-top: 38px;
    line-height: 26px;
}
.paras p{
    margin-bottom: 15px;
}
.maincontent{
    background-color: #ffffff;
    display: flex;
    padding: 0px 40px;
   margin-top:15px ;
    margin-left:30px ;
    margin-right:30px ;
    margin-bottom: 30px;
    border-radius: 20px;

}
.bcoswhimg{
    text-align: center;
    place-items: center;
    place-content: center;
    margin-left: 54px;
    margin-top: 19px;
}
.bcoswhimg img{    
border-top-right-radius: 30px;
}
.ulcontent{
    display: flex;
    margin: 40px 60px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 20px;
}
.ulcontent ul{
    font-size: 18px;
    font-family: 'Open Sans';
    line-height: 27px;
    margin: 10px;
    padding-top: 60px;
}
.benifitimg{
    padding: 20px;
}
.benifitimg img{
    width: 110%;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 6px black);
}
.benifits h4{
    font-size: 25px;
    color: #4e4e4e;
    line-height: 24px;
    margin-top: 10px;
    text-align: center;
    font-family: math;
}
.benifits{
    margin-top: 40px;
}
@media screen and (max-width: 1290px) {
    .paras {
        max-width: 100%;
    }
    .maincontent {
        flex-direction: column-reverse;
    }
    .bcoswhimg { 
        margin-left: 0px;
    }
    .ulcontent {
         flex-direction: column;
    }
    .benifitimg img {
        width: 40%;
    }
    .benifitimg {
        text-align: center;
    }
    .ulcontent ul {
        line-height: 40px;
        padding-top: 30px;
        padding-left: 75px;
    }
}
@media screen and (max-width: 990px) {
    #offgstitle {
        margin-top: -106px;
     } 
     .benifitimg img {
        width: 45%;
    }
    .ulcontent ul {
        line-height: 37px;
        padding-top: 14px;
        padding-left: 60px;
    }
}
@media screen and (max-width: 421px) {
    #offgstitle {
        margin-top: -114px;
     } 
}
@media screen and (max-width: 900px) {
    .benifitimg img {
        width: 53%;
    }
}
@media screen and (max-width: 799px) {
    .benifitimg img {
        width: 60%;
    }
    .ulcontent ul {
        padding-top: 0px;
        padding-left: 36px;
    }
}
@media screen and (max-width: 650px){
  .benifitimg img {
    width: 66%;
}  
.ulcontent ul {
    font-size: 17px;
   line-height: 31px;
}
.paras {
   font-size: 16px;
}
}

@media screen and (max-width: 599px) {
    .benifitimg img {
        width: 78%;
    }
    .ulcontent ul {
        padding-top: 0px;
        padding-left: 25px;
    }
}
@media screen and (max-width: 499px) {
    .benifitimg img {
        width: 92%;
    }
    .ulcontent ul {
        font-size: 16px;
        line-height: 29px;
    }
}

@media screen and (max-width: 665px) {
        #offgstitle {
            height: 300px;
        }     
        .titleh1 h1 {
            font-size: 60px;
            padding-top: 146px;
            margin: 0 10px;
            line-height: 60px;
        }

}
@media screen and (max-width: 555px) {
        .titleh1 h1 {
             padding-top: 121px;
        }

}
@media screen and (max-width: 449px){
.titleh1 h1 {
    font-size: 57px;
}
}