body{
    /* background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");    height: 100vh; */
    background-size: cover;
   background-position: center;
   background-color: #cacaca;
   }
/* .wrappernav{
    background-color: black;
} */

#offgstitle {
    background-image:
        linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../../../img/products/solarpump3.jpg');
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    height: 343px;
    margin-top: -40px;
    max-width: 100%;
}

.titleh1 {
    text-align: center;
}

.titleh1 h1 {
    padding-top: 160px;
    color: white;
    font-family: 'Open Sans';
    font-size: 70px;
}

.swp{
    margin-top: 100px;
}
.swph1 h1{
    text-align: center;
    font-size: 46px;
    color: #e5d9b6;
    font-family: revert;
}
.swpmainimg{
       text-align: center;
       margin-top: 20px;
}
.swpmainimg img{
       width: 81%;
       box-shadow: 0px 0px 15px 0px rgb(0 0 0);
        filter: drop-shadow(2px 4px 6px black);
       border-top-right-radius: 80px;
}
.swph3{
    text-align: center;
    margin: 22px 0px;
    padding-top: 20px;
    margin-top: -85px;
}
.swph3 h3{
font-size: 35px;
color: #4e4e4e;
font-family: math;
}
.firstpara{
    background-color: #ffffff;
    border-radius: 30px;
    margin: 50px 40px;
    margin-top: 20px;
    margin-left: 60px;
    padding: 30px;
    padding-bottom: 0px;
}
.firstpara p{
    width: 55%;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    font-family: 'Open Sans';
    padding: 20px;
}
.firstpara img{
    width: 85%;
    border-radius: 30px;
    filter: drop-shadow(2px 4px 6px black);
}
