body{
    /* background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");    height: 100vh; */
    background-size: cover;
   background-position: center;
   background-color: #cacaca;
   }
/* .wrappernav{
    background-color: black;
} */

#offgstitle {
    background-image:
        linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../../../img/products/solarpump3.jpg');
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    height: 343px;
    margin-top: -40px;
    max-width: 100%;
}

.titleh1 {
    text-align: center;
}

.titleh1 h1 {
    padding-top: 160px;
    color: white;
    font-family: math;
    font-size: 70px;
}
.hold1,
.hold2{
    display: flex;
}.hold2 p{
    width: 75%;
}
.hold2 .img img{
    width: 80%;
}
.swp{
    margin-top: 100px;
}
.swph1 h1{
    text-align: center;
    font-size: 46px;
    color: #e5d9b6;
    font-family: revert;
}
.swpmainimg{
       text-align: center;
       margin-top: 20px;
}
.swpmainimg img{
       width: 81%;
       box-shadow: 0px 0px 15px 0px rgb(0 0 0);
        filter: drop-shadow(2px 4px 6px black);
       border-top-right-radius: 80px;
}
.swph3{
    text-align: center;
    margin: 22px 0px;
    padding-top: 20px;
    margin-top: -85px;
}
.swph3 h3{
font-size: 35px;
color: #4e4e4e;
font-family: math;
}
.firstpara{
    background-color: #ffffff;
    border-radius: 30px;
    margin: 50px 40px;
    margin-top: 20px;
    padding: 30px;
    padding-bottom: 0px;
}
.firstpara p{
    width: 55%;
    font-size: 18px;
    line-height: 35px;
    font-family: 'Open Sans';
    padding: 20px;
}
.firstpara img{
    width: 85%;
    border-radius: 30px;
    filter: drop-shadow(2px 4px 6px black);
    margin-bottom: 30px;
}

/* medias */
@media screen and (max-width: 1200px) {
    .hold1{
        flex-direction: column-reverse;
    }
    .hold2{
        flex-direction: column;
    }
    .firstpara p {
        width: 100%;
        line-height: 30px;
    }
    .firstpara img {
        width: 60%;
    }
    .hold2 .img img {
        width: 60%;
    }
}
@media screen and (max-width: 991px) {
    #offgstitle { 
         margin-top: -106px;
    }
}
@media screen and (max-width: 421px) {
    #offgstitle { 
         margin-top: -114px;
    }
}
@media screen and (max-width: 950px) {
    .firstpara img {
        width: 60%;
    }
}
@media screen and (max-width: 800px) {
    .firstpara img {
        width: 70%;
        margin-bottom: 10px;
    }
    .firstpara p {
        padding: 10px;
    }
    .firstpara {
         padding: 20px;
    }
    .hold2 .img img {
        width: 70%;
    }
}
@media screen and (max-width: 665px) {
    .titleh1 h1 {
        padding-top: 153px;
        font-size: 65px;
    }
    #offgstitle {
       height: 310px;
    }
    .swph3 h3 {
        line-height: 38px;
    }
    .firstpara img {
        width: 80%;
    }
    .firstpara p {
     font-size: 17px;
    }
}
@media screen and (max-width: 590px) {
    .hold2 .img img {
        width: 80%;
    }
    .titleh1 h1 {
        padding-top: 150px;
        font-size: 62px;
        margin: 10px;
    }
    #offgstitle {
        height: 300px;
     }
}
@media screen and (max-width: 544px) {
    .titleh1 h1 {
        padding-top: 120px;
        font-size: 62px;
        margin: 10px;
        line-height: 60px;
    }
    .firstpara p {
        font-size: 14px;
       }
}
@media screen and (max-width: 510px) {
    .firstpara img {
        width: 90%;
border-radius: 20px;
    }
    .hold2 .img img {
        width: 90%;
    }
}

