body {
    /* background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg"); */
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#eemtitle {
    background-image:
        linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../../../img/solutions/emimain.jpg');
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    height: 343px;
    margin-top: -40px;
    max-width: 100%;
}

.titleh1 {
    text-align: center;
}

.titleh1 h1 {
    padding-top: 150px;
    color: white;
    font-family: math;
    font-size: 65px;
}

.bulletpmatter .img {
    border-radius: 20px;
    text-align: center;
}

.bulletpmatter .img img {
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 20px;
    width: 65%;
}
.emmcontent{
    padding: 35px;
}

.matter p{
    color: #444444;
    padding: 40px;
    padding-top: 40px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-family: 'Open Sans';
    padding-bottom: 20px;
    word-spacing: 3px;
}
.bulletpoints{
    padding: 40px;
    width: 80%;
    padding-top: 20px;
}
.bulletpoints ul li{
    padding: 25px 0px;
    display: flex;
}
.bulletpoints ul  img{
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px black);
    width: 15%;
}
.bulletpoints ul p{
    margin: auto;
    width: 80%;
    font-size: 23px;
    color: #444444;
   
}

.emihead{
    text-align: center;
}
.emihead h2{
font-size: 40px;
font-family: math;
color: #444444;
position: relative;

}
.emihead h2::after{
       content: "";
      position: absolute;
      bottom: -14px;
      width: 7%;
      height: 2px;
      left: 46%;
      display: block;
      background-color: #f7eac6;
}
.emiimgmatter{
    text-align: justify;
}
.emiimgmatter p{
    color: #444444;
    font-size: 19px;
    text-align: center;
    margin: auto;
    width: 85%;
    padding-top: 21px;
    line-height: 25px;
}
.eepimg{
      padding: 35px 0px ;
    text-align: center;
}
.eepimg img{
       width: 65%;
       border-radius: 15px;
       filter: drop-shadow(2px 4px 6px black);
}
.imgdownmatter{
    text-align: justify;
    padding-top: 32px;
}
.imgdownmatter p{
    color: #444444;
    font-size: 19px;
    margin: auto;
    width: 90%;
    padding-top: 21px;
    line-height: 25px;
}
.gswee{
    padding:30px 0px ;
}
.gsweeh2{
    text-align: center;
}
.gsweeh2 p{
     font-size: 40px;
     font-family: math;
     color: #444444;
     font-weight: bolder;
     font-size: 42px;
     position: relative;
}
.gsweeh2 p::after{
    content: "";
   position: absolute;
   bottom: -24px;
   width: 19%;
   height: 2px;
   left: 40%;
   display: block;
   background-color: #f7eac6;
}
.paras{
    padding: 45px 0px;
    margin: auto;
    width: 95%;
    color: #444444;
    padding-bottom: 0px;
}
.paras p{
   font-size: 18px;
   line-height: 25px;
    font-family: 'Open Sans';
    text-align: justify;
    word-spacing: 1px;
    margin-bottom: 20px;
}
.paras p span{
    font-weight: 800;
}
.head{
    text-align: center;
}
.matter1 h3{
    margin-top: 0;
    font-size: 35px;
    font-family: math;
   color: #444444;
position: relative;
}
/* .head h3::after{
    content: "";
   position: absolute;
   bottom: -22px;
   width: 46%;
   height: 2px;
   left: 26%;
   display: block;
   background-color: #f7eac6;
} */
.para1{
    width: 85%;
    padding: 20px 0px;
    margin: auto;
}
.para1 p strong{
    font-size: 19px;
    line-height: 24px;
    color: #3d3d3d;
    font-family: 'Open Sans';
}
.para1 ul{
    padding-top: 8px;
    padding-left: 0;
    margin-bottom: 0;
}
.para1 ul li{
    list-style: none;
    padding-bottom: 10px;
    line-height: 25px;
    font-size: 19px;
    color: #444444;
    font-family: 'Open Sans';
}
.para2{
    padding: 20px 0px ;

}
.para2 h3{
text-align: center;

}
.para2 p{
    font-size: 19px;
    line-height: 24px;
    color: #444444;
    font-family: 'Open Sans';
    margin: auto;
    width: 95%;
    padding-bottom: 10px;
}
.para3{
    padding: 17px 0px ; 
}
.para3 h2{
    margin-top: 0;
    font-size: 35px;
    font-family: math;
   color: #444444;
position: relative;
}
.para3 p{
    text-align: justify;
}
.p3h4{
    margin: auto;
    width: 95%;
}
.mainpointa{
    margin: auto;
    width: 95%;
}
.gitbtn{
    text-align: center;
}
.gitbtn button {
    border: none;
    background-color: black;
    color: #f7eac6;
    padding: 16px 30px;
    transition: 0.2s;
    border-radius: 6px;
    font-size: 20px;
    border-radius: 35px;
    text-decoration: none;
}
button:hover{
    box-shadow: 0 0 0 4px black, 
                0 0 0 7px #fff;
}



/* head media */
@media screen and (max-width: 991px) {
    #eemtitle{
     margin-top: -72px;
    }
 }
   @media screen and (max-width: 700px) {
     .images a img {
       width: 285px;
       height: 285px;
     }
 }
   @media screen and (max-width: 560px) {
     #eemtitle{
              height: 320px;
     }
     .titleh1 h1 {
       font-size: 60px;
     }
 }
   @media screen and (max-width: 480px) {
     #eemtitle{
              height: 287px;
     }
     .titleh1 h1 {
       font-size: 50px;
       padding-top: 136px ;
     }
 }
   @media screen and (max-width: 400px) {
     #eemtitle{
              height: 246px;
     }
     .titleh1 h1 {
       font-size: 43px;
       padding-top: 119px;
     }
 }
   @media screen and (max-width: 360px) {
     #eemtitle{
              height: 240px;
     }
     .titleh1 h1 {
       font-size: 40px;
     padding-top: 115px;
     }
 }
 