body{
    /* background: url("../../../img/vecteezy_premium-rectangular-gradient-green-background_7271110.jpg");   */
      height: 100vh;
    background-size: cover;
   background-position: center;
   }
   #usaoatitle{
    background-image:
     linear-gradient(40deg, rgba(0, 0, 0, 0.88), rgba(52, 52, 52, 0.18) 60%, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), 
    url('../../../img/solutions/usaoamain1.jpeg') ;
    background-position: 0px 0px ,0px 0px, 50% 50%;
    background-size: auto ,auto, cover;
    height: 343px;
    margin-top: -22px;
    max-width: 100%;
}
.titleh1{
    text-align: center;
}
.titleh1 h1{
    padding-top: 150px;
    color: white;
    font-size: 60px;
    font-family: math;
}
.usoacontent{
    display: flex;
    padding: 140px;
    padding-top: 59px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.matter{
    margin: 29px;
    padding: 20px;
    padding-top: 34px;
    border-radius: 10px;
    margin-top:35px ;
    margin-left: 10px;
    padding-right: 0px;
    background-color: #a1f8a1;
}
.matter p{
    line-height: 24px;
    font-family: 'open sans';
    font-size: 17px;
}
.img img{
    max-width: 132%;
    border-radius: 5px;
    border-top-right-radius: 20px;
    box-shadow: 7px 7px 12px 0px rgb(117, 115, 115);
}
.tattops{
    background-color: #fcfcfc;
    margin: 30px;
    padding: 30px;
    font-family: 'open sans';
    margin-top: 20px;
    border-radius: 20px;
} 
.paras{
  max-width: 52%;
  padding: 5px;
  font-size: 18px;
  text-align: justify;
  font-family: 'Open Sans';
  padding-top: 38px;
  line-height: 26px;
}
.paras p{
  margin-bottom: 15px;
}
.maincontent{
background-color: #fcfcfc;
  display: flex;
  padding: 0px 40px;
 margin-top:15px ;
  margin-left:30px ;
  margin-right:30px ;
  margin-bottom: 30px;
  border-radius: 20px;

}
.bcoswhimg{
  text-align: center;
  place-items: center;
  place-content: center;
  margin-left: 54px;
  margin-top: 19px;
 
}
.bcoswhimg img{    
border-top-right-radius: 30px;
}
.heads{
    margin-bottom: 23px;
    font-family: math;
}
.heads h2{
    margin-top: 0px;
}
.heads h3{
    margin-top: 0px;
    margin-bottom: 5px;
}
.tattopsmatter p{
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
}
.bcoswhimg img{
  max-width: 70%;
}
/* body media */
@media screen and (max-width: 1100px) {
  .bcoswhimg img {
    max-width: 50%;
}
.bcoswhimg {
  margin-left: 0px;
}
.paras {
  max-width: 100%;
}
.maincontent{
  flex-direction: column-reverse;
}
}
@media screen and (max-width: 1100px){
.bcoswhimg img {
    max-width: 55%;
}
}
@media screen and (max-width: 530px){
  .heads h2 {
    font-size: 30px;
}
}
@media screen and (max-width: 500px){
  .heads h2 {
    font-size: 27px;
}
  .heads h3 {
    font-size: 21px;
}
}
@media screen and (max-width: 510px){
  .paras {
    font-size: 16px;
}
}
/* head media */
@media screen and (max-width: 991px) {
    #usaoatitle{
     margin-top: -106px;
    }
 }
 @media screen and (max-width: 421px){
  
 #usaoatitle {
     margin-top: -114px;
 }
 }
   @media screen and (max-width: 900px) {
     .titleh1 h1 {
       font-size: 50px;
     }
 }
   @media screen and (max-width: 710px) {
     #usaoatitle{
              height: 300px;
     }
     .titleh1 h1 {
       font-size: 43px;
 padding-top: 138px;
     }
 }
   @media screen and (max-width: 610px) {
     #usaoatitle{
              height: 273px;
     }
     .titleh1 h1 {
       font-size: 38px;
       padding-top: 125px;
     }
 }
   @media screen and (max-width: 400px) {
     #usaoatitle{
              height: 266px;
     }
     .titleh1 h1 {
       font-size: 35px;
     padding-top: 117px;
     }
 }
 

